@model Isilani 


<h1>@Model.sirketismi</h1><br>
<h1>@Model.lokasyon</h1><br>
<h1>@Model.pozisyon</h1><br>
<h1>@Model.deneyim</h1><br>
<h1>@Model.aciklama</h1><br>
<h1>@Model.deneyim</h1>


<a class="btn btn-primary" asp-controller="Home" asp-action="IlanBasvuruForm" asp-route-id=@Model.id role="button"> Başvur</a>
