@model WebProgramlamaV2_Net5._0.Models.Isilani

@{
    ViewData["Title"] = "IlanSayfasi";
}

<div>
    <h4>Isilani</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sirketismi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sirketismi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lokasyon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lokasyon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pozisyon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pozisyon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.deneyim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.deneyim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.aciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.aciklama)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Geri</a>
</div>
