@model IEnumerable<WebProgramlamaV2_Net5._0.Models.Isilani>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.sirketismi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lokasyon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pozisyon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.deneyim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.aciklama)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.sirketismi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lokasyon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pozisyon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deneyim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.aciklama)
            </td>
            <td>
                @Html.ActionLink("Detaylar ve Başvuru", "IlanSayfasi", "Home", new { item.id })
            </td>
        </tr>
}
    </tbody>
</table>
