@model IEnumerable<WebProgramlamaV2_Net5._0.Models.Isilani>

@{
    ViewData["Title"] = "Isara";
}
@using (Html.BeginForm("IsaraDatabase", "Home", FormMethod.Get))
{  
<b>Arama Seçeneği: </b>@Html.RadioButton("option", "Şirket İsmi") <text>Şirket İsmi</text> @Html.RadioButton("option", "Lokasyon") <text> Lokasyon </text>
    @Html.RadioButton("option", "Pozisyon")<text>Pozisyon</text> @Html.TextBox("search") <input type="submit" name="submit" value="Search"/>
    }
    @{Html.EndForm();}

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.sirketismi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.lokasyon)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.pozisyon)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.aciklama)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.sirketismi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lokasyon)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pozisyon)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.aciklama)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
